<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Flower Shop</title>

	<meta charset="utf-8" />

	<link cx-library="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link cx-library="scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link cx-library="stylesheets/mixins.css" rel="stylesheet" />

	<script cx-library="scripts/jquery-1.7.2.js"></script>
	<script cx-library="scripts/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
	{{{body}}}
</body>

</html>